.display-data {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #efa0a0;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 8px;
  }
  